<div class="col-12 h-56 background-bg1">
    <div class="col-12 h-14 p-4 text-lg text-gray-400 bg-slate-900 bg-opacity-20 bd-blur flex items-center font-mont">
        <div class="col-10">
            <i class="fa-sharp fa-regular fa-hashtag"></i> 
            <span class="pl-2 text-gray-300 font-medium">Minecraft \ Księga potworów \ Ghule</span>
        </div>
    </div>
    <div class="col-12 h-44 bd-blur p-4 flex items-center">
        <span class="font-mont font-semibold text-gray-200 text-5xl">Szybki Ghul</span>
    </div>

    <div class="col-12 p-4">
        <markdown ngPreserveWhitespaces [src]="markdown"></markdown>
    </div>


</div>

<!--





-->