<li class="h-6 text-emerald-300 overflow-hidden">
    <amber class="cursor-pointer"><i class="fa-solid fa-angle-down fa-lg pr-2"></i> Lands and Dungeons</amber>
</li>
<div class="col-12 pl-8 text-gray-300 overflow-hidden">
    <li class="h-6 overflow-hidden">
    <amber class="cursor-pointer"><i class="fa-solid fa-angle-down pr-2"></i> List item</amber>
    </li>
    <li class="h-6 overflow-hidden">
    <amber class="cursor-pointer"><i class="fa-solid fa-angle-down pr-2"></i> List item</amber>
    </li>
</div>