@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;

    font-family: 'Nunito', sans-serif;
}
.font-mont {
    font-family: 'Montserrat', sans-serif;
}

.background-logo {
    background-image: url("../assets/img/bg-logo.png");
}
.bd-blur {
    backdrop-filter: blur(2px);
}